.App {
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.footer-text {
  text-align: center;
}

.footer-link {
  color: black;
  font-weight: 800;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
