.App {
  margin: auto;
  margin-top: 30px;
  max-width: 600px;
  color: rgb(89, 88, 88);
}

.header {
  text-align: center;
}

.footer-text {
  text-align: center;
}

.footer-link {
  color: rgb(52, 52, 52);
  font-weight: 800;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
