.forecast-maindiv {
  text-align: center;
}

.forecast-maindiv img {
  width: auto;
  margin: auto;
}

.forecast-temperature-max {
  font-weight: bold;
}

.forecast-temperature-min {
  font-weight: 500;
  opacity: 0.7;
}
